# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\local-space\go-space\matrix\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
